@use './scss/accordion';
@use './scss/checkbox';
@use './scss/download';
@use './scss/sidenav';
@use './scss/button';
@use './scss/switch';
@use './scss/slider';
@use './scss/input';
@use './scss/radio';

html,
body {
  height: 100%;
}

:root {
  font-family: Mukta, sans-serif;
  line-height: 1.5;
  font-size: 1.2em;
  font-weight: 400;

  // color-scheme: light dark;

  color: rgb(19, 181, 43);

  --cw-primary-rgb: 19, 181, 43;
  // --cw-primary-rgb: 68, 248, 94;
  --cw-onprimary-rgb: 255, 255 255;
  --cw-surface-rgb: 250, 250, 250;
  --cw-onsurface-rgb: 16, 16, 16;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  background-color: rgba(var(--cw-onprimary-rgb, 255, 255, 255), 0.5);
  color: rgb(var(--cw-primary-rgb));
}

#app {
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

canvas {
  width: 1080px;
  border: 2px solid rgb(var(--cw-onsurface-rgb));
  border-radius: 0.8em;
  overflow: hidden;
}

.cw-theme-toggle {
  position: fixed;
  top: 1.5em;
  right: 1.5em;
  z-index: 1;
}

.transparent {
  background-color: #e0e0e0;
  background-image: linear-gradient(45deg, #ccc 25%, transparent 25%),
    linear-gradient(135deg, #ccc 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #ccc 75%),
    linear-gradient(135deg, transparent 75%, #ccc 75%);
  background-size: 40px 40px; /* Tamanho dos quadrados */
  background-position: 0 0, 20px 0, 20px -20px, 0px 20px; /* Posicionamento dos quadrados */
}

.form-group {
  margin: 16px;
  display: flex;
  flex-flow: row wrap;
  gap: 16px;

  > label {
    flex: 1;
  }
}

fieldset {
  display: flex;
  flex-flow: row wrap;
  border-radius: 0.4em;
  padding: 1.8em 2.2em 2.2em;
  border: solid 2px rgba(var(--cw-onsurface-rgb, 0, 0, 0), 0.6);
  gap: 1em 2em;
  legend {
    padding: 0 0.5em;
  }

  > label {
    width: 120px;
  }
}
