@use './scss/accordion';
@use './scss/checkbox';
@use './scss/download';
@use './scss/sidenav';
@use './scss/button';
@use './scss/slider';
@use './scss/input';
@use './scss/radio';

html,
body {
  height: 100%;
}

:root {
  font-family: Mukta, sans-serif;
  line-height: 1.5;
  font-size: 1.2em;
  font-weight: 400;

  color-scheme: light dark;
  background-color: rgba(var(--cw-onprimary-rgb, 0, 0, 0), 0.5);

  --cw-primary-rgb: 68, 248, 94;
  --cw-onprimary-rgb: 0, 0, 0;
  --cw-surface-rgb: 16, 16, 16;
  --cw-onsurface-rgb: 255, 255, 255;

  color: rgb(var(--cw-primary-rgb));

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

#app {
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

canvas {
  width: 1080px;
  border: 2px solid rgb(var(--cw-onsurface-rgb));
  border-radius: 0.8em;
  overflow: hidden;
}

.form-group {
  margin: 16px;
  display: flex;
  flex-flow: row wrap;
  gap: 16px;

  > label {
    flex: 1;
  }
}

fieldset {
  display: flex;
  flex-flow: row wrap;
  border-radius: 0.4em;
  padding: 1.8em 2.2em 2.2em;
  border: solid 2px rgba(var(--cw-onsurface-rgb, 0, 0, 0), 0.6);
  gap: 1em 2em;
  legend {
    padding: 0 0.5em;
  }

  > label {
    width: 120px;
  }
}
