$color__toggle: rgb(var(--cw-primary-rgb));

$width__sidenav: 420px;

.cw-sidenav-toggle {
  position: absolute;
  top: 1em;
  right: -120px;

  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;

  .line {
    fill: none;
    stroke: $color__toggle;
    stroke-width: 6;
    transition: stroke-dasharray 800ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 800ms cubic-bezier(0.4, 0, 0.2, 1);

    &1 {
      stroke-dasharray: 60 207;
      stroke-width: 6;
    }
    &2 {
      stroke-dasharray: 60 60;
      stroke-width: 6;
    }
    &3 {
      stroke-dasharray: 60 207;
      stroke-width: 6;
    }
  }
  &.open .line {
    &1 {
      stroke-dasharray: 90 207;
      stroke-dashoffset: -134;
      stroke-width: 6;
    }
    &2 {
      stroke-dasharray: 1 60;
      stroke-dashoffset: -30;
      stroke-width: 6;
    }
    &3 {
      stroke-dasharray: 90 207;
      stroke-dashoffset: -134;
      stroke-width: 6;
    }
  }
}

.cw-sidenav {
  top: 0;
  left: 0;
  position: fixed;
  width: $width__sidenav;
  height: 100vh;
  background-color: rgba(var(--cw-onprimary-rgb), 0.38);
  transition: 0.7s;
  color: rgb(var(--cw-onsurface-rgb));

  transform: translateX(calc($width__sidenav * -1));

  border-color: rgba(var(--cw-onsurface-rgb, 0, 0, 0), 0.08);
  border-right-style: solid;
  border-right-width: 2px;

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  fieldset {
    border-width: 1px;
    border-color: rgba(var(--cw-onsurface-rgb, 0, 0, 0), 0.24);
  }

  fieldset,
  form > button,
  form > label {
    margin: 0.6em 1em;
  }

  details section {
    padding: 0;
  }

  details[open] summary {
    color: rgb(var(--cw-primary-rgb));
  }

  &.is-open {
    transform: translateX(0);
  }
}

main {
  transition: transform 400ms ease-in-out;
}

.cw-sidenav-is-open {
  main {
    transform: translateX(calc($width__sidenav));
  }
}
